/* Variables */
:root {
  --background-dark: #0e0915;
  --background-dark-dimmed: rgba(14, 9, 21, 0.2);
  --background-light: #dde4e6;
  --dark-accent: #f42a8b;
  --dark-accent-dimmed: rgba(244, 42, 139, 0.2);
  --light-accent: #1f89db;
  --light-accent-dimmed: rgba(31, 137, 219, 0.2);
  --weather-card: #4374a5;
  --compliment: #00ffe2;
  --foreground-dark: #c8c8c8;
  --foreground-light: #222222;
  --grey: #464646;
  --font-size: 1.3rem;
  --sans: "Open Sans", sans-serif;
}

/* Basic Styling of document */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--background-dark-dimmed);
  background-image: url("img/weather-light.jpg");
  color: var(--foreground);
  font-size: var(--font-size);
}

/* Headings */
h1,
h2,
h3 {
  margin: 0;
}

.color-background {
  background-color: var(--background-dark-dimmed);
  background-image: url("img/weather-light.jpg");
}

.color-dark-accent {
  color: var(--dark-accent);
}

.color-light-accent {
  color: var(--light-accent);
}

.color-compliment {
  background-color: var(--compliment);
}

.color-foreground-light {
  background-color: var(--foreground-light);
}

.gradient {
  background: #4374a5;
  background: linear-gradient(circle, #1f89db 0%, #4374a5 100%);
  height: 2px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-dark-dimmed);
  background-size: cover;
  background-image: url("img/weather-light.jpg");
  padding: 4rem 1rem;
  justify-content: space-evenly;
}

.card-div {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  background-color: var(--weather-card);
  margin: 1em auto 2em auto;
  width: 400px;
  border-radius: 40px;
}

.card-name {
  margin: 0 15px;
  font-size: 0.5em;
  font-weight: 500;
}

.card-time {
}

.card-temp-c {
  font-size: 2.5em;
  padding: 0 0 0.5em 0;
}

.card-temp-f {
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card-text {
  font-size: 0.5em;
}

.card-feelslike-c {
}

.card-feelslike-f {
}

.card-text-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--light-accent-dimmed);
  margin: auto auto;

  box-shadow: 10px 10px 50px var(--light-accent-dimmed);
  padding: 1rem;
  text-align: left;
  border-radius: 40px;
  color: var(--foreground-dark);
  font-family: var(--sans);
  font-weight: 300;
  font-size: 2em;
}

.hidden {
  display: none;
}

.top-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background-dark);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-dark);
  color: var(--foreground-light);
}

/* Toggle Button */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
